<h3>List:</h3>

</br>
<h3>Name:<%= @list.name %></h3>
<h3>Description:<%= @list.description %></h3>
<h3>Priority:<%= @list.priority %></h3>
<br>   <br> <br> <br>
<% if @aaa <= 1 %>
    <% if @aaa == 0 %>
        <h3>You do not have any item.Please create item(s).</h3>
    <% else %>
        <h3>Item:</h3>
    <% end %>
<% else %>
    <h3>Items:</h3>
<% end %>



<ul>
  <% if !@task1.nil? %>
      <% @task1.each do |task| %>

          <h4>Description: <%= task.description %></h4>
          <h4>Priority:<%= task.priority %></h4>
          </br>  </br>
      <% end %>
  <% end %>
</ul>


<%= form_for [@list, @task] do |f| %>

    <p><%= f.text_field :description, :id=>"description" %></p>


    <p><label>Priority:
      <%= select "task", "priority", ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], {:id=>'priority', :name=>"priority"} %>
    </label></p>

    <%= f.submit "Create Item" %>

<% end %>


<%= link_to "Back to  lists", lists_url %>
