<!DOCTYPE html>
<html>
<head>
  <title>Application</title>
   <div id="user_nav">
    <% if user_signed_in? %>

      <span> <%= link_to 'Logout', destroy_user_session_path ,:confirm => "Are you sure want to Logout?" ,:style => "margin-left:800px ! important;font-size: 14px;"%></span>

    <% else %>
        <%= link_to 'Register', new_user_registration_path , :style => "font-size: 14px;"%> or <%= link_to 'Login', new_user_session_path , :style => "font-size: 14px;"%>
    <% end %>
</div>

  <%= stylesheet_link_tag :all %>
 <%= javascript_include_tag :defaults %>
  <%#= javascript_include_tag '/javascripts/jquery-1.7.1.min.js' %>
<%= csrf_meta_tag %>
</head>
<body>

	<div id="flash">
	  <% flash.each do |key, value| -%>
	    <div id="flash_<%= key %>"><%=h value %></div>
	  <% end -%>
	</div>

<%= yield %>

</body>
</html>
